# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
Case_study_260 (1).docx
MarkingGuide_260 (1).docx
Report help_260 (1).docx
